[buildout]
parts = openerp
versions = versions
extensions += gp.vcsdevelop
vcs-extend-develop = git+https://github.com/anybox/anybox.recipe.odoo@e37e0ac527de58abe6e913e4eff670d2f8d72c9a#egg=a.r.odoo
vcs-update = true
#find-links = http://

[openerp]
recipe = anybox.recipe.odoo:server
version = git https://github.com/OCA/OCB.git odoo 10.0 depth=10

addons =

###############################################################################
## OCA Repositories
###############################################################################

    git https://github.com/OCA/account-fiscal-rule          parts/account-fiscal-rule           10.0
    git https://github.com/OCA/account-invoicing            parts/account-invoicing             10.0
    git https://github.com/OCA/l10n-france.git              parts/l10n-france                   10.0
    git https://github.com/OCA/product-attribute.git        parts/product-attribute             10.0
    git https://github.com/OCA/product-variant.git          parts/product-variant               10.0
    git https://github.com/OCA/purchase-workflow.git        parts/purchase-workflow             10.0
    git https://github.com/OCA/server-tools.git             parts/server-tools                  10.0
    git https://github.com/OCA/web.git                      parts/web                           10.0

###############################################################################
## BdR Repositories
###############################################################################

    git https://github.com/grap/bdr-odoo-custom.git         parts/bdr-odoo-custom               10.0

###############################################################################
## Python Libs
###############################################################################

eggs =

# Default Voodoo libs
    nose
    unidecode
    Pillow
    phonenumbers
    unicodecsv
    watchdog
    passlib

# Added libs
    qrcode

openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]

# Default Voodoo libs
pydot = 1.0.28
python-dateutil = 2.4.0

# Added libs
qrcode = 5.3
